POSTGRES_DB=prime_crm
POSTGRES_USER=prime_crm
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5433
BACKEND_PORT=8000
FRONTEND_PORT=5173
STORYBOOK_PORT=6006
TZ=Asia/Tokyo
CHOKIDAR_USEPOLLING=false
SEED_DATABASE=true
